@import 'tailwindcss';
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-primary: #f8f8f7;
  --color-secondary: #ffffff;
  --color-text:#121212;
  --color-default-border:#d9d9d8;
  --color-default-hover:#d9d9d8;
  --color-text-muted:#ececec;
  --color-btn-muted:#ececec;
  --color-btn-active:#404040;
  --color-btn-hover:#ececec
}

[data-theme="dark"] {
  --color-secondary: #191919;
  --color-primary: #202020;
  --color-text:#ffffff;
  --color-default-border:#2c2c2c;
  --color-default-hover:#2c2c2c;
  --color-btn-muted:#404040;
  --color-btn-active:#ececec;
  --color-btn-hover:#404040;
}